[Unit]
Description=Fluctlight daily brain backup
Requires=fluctlight-backup.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
